#background-login {
	background: url(../img/agenda.png) no-repeat;
	background-size: cover;
}

#background {
	background-color : #bbf;
}

#calque {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index:1;
	opacity:0.5;
	filter: alpha(opacity=50);
}

a {
	cursor : pointer;
}

.evenement {
	display : inline-block;
	border : solid;
	border-width : 1px;
	width : 200px;
	height : 160px;
	background-color : #aaf;
	margin : 15px 5px 0px 0px;
	vertical-align : top;
	cursor : pointer;
}

.creerEvenement:hover {
	background-color : #ccf;
}

.creerEvenement .perso-glyphicon {
	margin :45px 85px;
	font-size : 2em;
	color : #22a;
}

.creerEvenement:hover .perso-glyphicon {
	color : #55d;
}

.evenement h4 {
	width : 10em;
	border : solid;
	border-width : 1px;
	margin-top : -10px;
	margin-left : -1px;
	padding-left : 6px;
	background-color : #aaf;
}

.evenement p {
	margin-left : 10px;
}

.modale {
	position : fixed;
	left : 40%;
	top : 15%;
	border : solid;
	border-width : 1px;
	width : 300px;
	height : 450px;
	background-color : #eef;
	z-index : 2;
	padding-left : 10px;
}

.invisible {
	display : none;
}

.scrollable {
	margin : auto;
	border : solid #aaf;
	border-width : 1px;
	height : 75px;
	width : 270px;
	background-color : #fafaff;
	overflow-y : auto;
}

.scrollable p {
	display : inline-block;
	margin : 0px;
}

.decouverte {
	position : absolute;
	bottom : 10px;
	left : 10px;
}

.right-aligned-button {
	position : absolute;
	right : 15px;
	bottom : 15px;
}

.formulaire {
	padding : 20px;
	width : 50%;
	background-color : #fafafa;
	margin : auto;
	position : absolute;
	right : 0;
	left : 0;
	top : 100px;
	box-shadow : 0px 0px 5px 2px #333;
}

#mail {
	padding-right : 40px;
	background : url(../img/arobase.png) no-repeat 98% 7px;
	background-color : #fff;
	background-size : 20px 20px;
}

#mdp {
	padding-right : 40px;
	background : url(../img/cadenas.png) no-repeat 98% 7px;
	background-color : #fff;
	background-size : 20px 20px;
}

@media(max-width:768px) {
	.formulaire {
		width : 70%;
	}
}