#background-login {
	background: url(../img/agenda.png) no-repeat;
	background-size: cover;
}

#background {
	background-color : #bbf;
}

a {
	cursor : pointer;
}

.evenement {
	display : inline-block;
	border : solid;
	border-width : 1px;
	width : 200px;
	height : 210px;
	background-color : #aaf;
	margin : 15px 5px 0px 0px;
	vertical-align : top;
}

.creerEvenement:hover {
	background-color : #ccf;
}

.evenement h4 {
	width : 10em;
	border : solid;
	border-width : 1px;
	margin-top : -10px;
	margin-left : -1px;
	padding-left : 6px;
	background-color : #aaf;
}

.evenement p {
	margin-left : 10px;
}

.decouverte {
	position : absolute;
	bottom : 10px;
	left : 10px;
}

.right-aligned-button {
	position : absolute;
	right : 15px;
	bottom : 15px;
}

.formulaire {
	border : solid;
	border-width : 1px;
	border-radius : 10px;
	padding-top : 10px;
	padding-bottom : 10px;
	width : 50%;
	background-color : #fafafa;
	margin : auto;
	position : absolute;
	right : 0;
	left : 0;
	top : 100px;
}

#mail {
	padding-right : 40px;
	background : url(../img/arobase.png) no-repeat 98% 7px;
	background-color : #fff;
	background-size : 20px 20px;
}

#mdp {
	padding-right : 40px;
	background : url(../img/cadenas.png) no-repeat 98% 7px;
	background-color : #fff;
	background-size : 20px 20px;
}

@media(max-width:768px) {
	.formulaire {
		width : 70%;
	}
}